@import "tailwindcss";

:root {
  background-color: #050505;
  color: white;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  overflow: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.custom-gradient {
  background: linear-gradient(180deg, #111 0%, #050505 100%);
}

.spotify-green {
  color: #1ED760;
}

.spotify-bg-green {
  background-color: #1ED760;
}
